<section id="navbarBlock">
  <article>
    <div class="logoblock">
      <a href="#">
        <img src="../images/logo.png" alt="logo" />
      </a>
    </div>
    <div class="menublock">
        <nav>
            <ul>
                <li> <a href="/">home</a>
                </li>
                <li><a href="">about</a></li>
                <li><a href="">login</a></li>
                <li><a href="">register</a></li>
                <li><a href="/contact">contact us</a></li>
            </ul>
        </nav>
    </div>
  </article>
</section>