/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    background-color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 14px;
}
#navbarBlock{
    width: 100%;
    background-color: royalblue;
    height:70px;
    color:azure;
}

#navbarBlock article{
   width:85%;
   margin: 0;
   height:70px;
   color:black;
   display: flex;
   align-items: center;
   
}
#navbarBlock article>div{
    flex-basis: 50%;
}

.logoblock img{
    width: auto;
    height: 42px;
}

.menublock nav ul{
    display:flex;
    list-style: none;
}

.menublock nav ul li a{
    color: orangered;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.menublock nav ul li a:hover{
    background-color: #efefef;
    border-radius: 10px;
    color: black;
} */

/*contact form block*/

#contactForm article{
    width: 85%;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    height: 100vh;
}

#contactForm article form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contactForm article div{
    flex-basis: 23%;
    margin: 4px;
    min-height: 100px;
}

#contactForm article div label{
    width: 100%;
    display: block;
    font-weight: bold;
    padding: 10px 0;
}
#contactForm article div input,
#contactForm article div textArea{
    width: 100%;
    display: block;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #ccc;

}
#contactForm article div button{
    background-color: orangered;
    color: #fff;
    width: 200px;
    padding: 10px;
    border: 1px solid pink;
    
}